<nb-layout>
  <nb-layout-header fixed>
    <!-- Insert header here -->
    <nav class="col-md-12 navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">

        <div class="logo-container">
          <a class="logo" href="/dashboard/"> <img src="../assets/imagesVALIDA (1).png"
            alt="Logo crocoKEY"></a> 
        </div>
        <button nbButton ghost size="giant"> <a style="text-decoration:none;cursor:pointer;" routerLink="/dashboard" >crocoKey</a></button>
      </div>
    </nav>
  </nb-layout-header>


  <nb-layout-column>
    <div class="container p-5">
      <router-outlet></router-outlet> 
    </div>
  </nb-layout-column>


  <nb-layout-footer fixed>
    <!-- Insert footer here -->
    <div class="col-md-12">
      <span class="col-md-6 created-by">Creado por <b><a style="text-decoration:none;cursor:pointer;" href="https://github.com/boodahDEV" > boodah </a></b> 2020</span>
    </div>
  </nb-layout-footer>
</nb-layout>
